body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	font-size: 0.9em;
	color: #ffffff;
	background: #f3f3f3;
}

#dash{
	position: fixed;
	background: #2b2b2b;
	width: 100%;
	margin-left: -10px;
	margin-top: -50px;
	margin-right: -10px;
	z-index: 2000;
}

#search-box{
	float: right; 
	width: 50%;
}

.menu{
	position: relative;
	display: block;
	float: left;
	color: #ffffff;
	margin: 5px 10px 5px 20px;
	padding: 10px 10px 10px 10px;
	border-radius: 2px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: default;
}


.menu:hover{
	background: #343434;
}

/*Level 1 Menu*/
nav ul{
	list-style-type: none;
}

nav ul li{
	position: relative;
	display: block;
	float: left;
	color: #ffffff;
	background: url("arrow_down.png") left no-repeat;	
	background-position: 10px 50%;
	margin: -7px 10px 0px 20px;
	padding: 10px 10px 10px 10px;
	border-radius: 2px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: default;
}

nav ul li:hover{
	background: url("arrow_down.png") #343434 left no-repeat;
	background-position: 10px 50%;
}

/*Level 2 Menu*/
nav ul li:hover>img{
	display: block;
	padding: 0px 100% 0px 0px;
}

nav ul li img{
	display: none;
	position: absolute;
	top: 36px;
	left: 8px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

nav ul li:hover>ul{
	display: block;
}

nav ul li ul{
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.6);
	top: 116%;
	left: -10%;
	margin: 0;
	padding: 0;
	border-radius: 2px;
	min-width: 120%;
}

nav ul li ul li{
	float: none;
	color: #000;
	background: url("arrow_right.png") rgba(255,255,255,0.8) left no-repeat;
	background-position: 10px 50%;
	background-size: 5px 7px;
	border-radius: 2px;
	font-size: 0.9em;
	margin: 5px 10px 5px 20px;
	padding-right: 100px;
	padding-left: 30px;
	margin-left: 6px;
	cursor: pointer;
}

nav ul li ul li:hover{
	background: url("arrow_right.png") #3bbcca left no-repeat;
	background-position: 10px 50%;
	background-size: 5px 7px;
	color: #fff;
	left: 3px;
}

#bnext{
	padding: 4px 10px 10px;
	font-size: 60px;
	line-height: 1em;
	color: #FFF;
	background: #3bbcca;
	position: absolute;
	box-shadow: 0 6px #31abbd;
	z-index: 1200;
	margin-top: -25%;
	visibility: hidden;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	right: 0px;
}

#bprev{
	padding: 4px 10px 10px;
	font-size: 60px;
	line-height: 1em;
	color: #FFF;
	background: #3bbcca;
	position: absolute;
	box-shadow: 0 6px #31abbd;
	z-index: 1200;
	margin-top: -25%;
	visibility: hidden;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	left: 0px;
}

#slider:hover #bnext{
	visibility: visible;
}

#slider:hover #bprev{
	visibility: visible;
}

#wrapper{
	position: relative;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
}

#footer{
	background: #31abbd;
	width: 101.3%;
	float: left;
	margin-left: -10px;
	margin-top: 150px;
}

.search{
	background: url("search.png") right no-repeat;
	background-position: 97% 50%;
	border-radius: 4px;
	border: 2px solid #2b2b2b;
	box-shadow: 0px 2px 5px #1b1b1b inset;
	margin: 10px 10px 10px 20px;
	height: 30px;
	width: 35%;
	padding: 0 40px 0 10px;
	float: left;
	color: #ffffff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.search:hover{
	border-color: #757575;
}

.search:clicked{
	border-color: #3bbcca;
}

.label{
	color: #3f4646; 
	font-size: 2.3em;
	padding: 10px 10px 0px 10px;
}

.subtext{
	color: #777777;
	font-size: 0.75em;
	padding: 0px 10px 0px 10px;
}

.text{
	color: #3f4646;
	font-size: 1em;
	font-weight: bold;
	padding: 10px 10px 0px 10px;
}

.button{
	position: relative;
	border-radius: 5px;
	background: #3bbcca;
	color: #ffffff;
	box-shadow: 0 6px #31abbd;
	padding: 10px 25px;
	display: inline-block;
	margin: 10px 20px 10px 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:hover {
	box-shadow: 0 4px #31abbd;
	top: 2px;
}

.button2{
	position: relative;
	border-radius: 5px;
	background: #98a3a3; 
	box-shadow: 0 6px #7f8c8c;
	color: #ffffff;
	padding: 10px 25px;
	display: inline-block;
	margin: 10px 20px 10px 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button2:hover {
	box-shadow: 0 4px #7f8c8c;
	top: 2px;
}

.block{
	position: relative;
	background: #f8f8f8; 
	margin-top: 40px; 
	border-radius: 4px; 
	width: 22%;
	padding: 100px 0px 60px 0px;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	box-shadow: 0 6px #e5e6e6;
}

.block:hover{
	background: #ffffff;
}

.categories{
	position: relative;
	width: 22%;
	padding: 60px 0px 50px 0px;
	margin-right: 2%;
}


a:link{
	text-decoration:none;
}

.linktext{
	color: #777777;
	font-size: 0.75em;
	padding: 0px 10px 0px 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.linktext:hover{
	color: #3bbcca;
}

.project{
	position: relative;
	margin-top: 60px; 
	border-radius: 4px; 
	width: 30%;
	height: 250px;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	overflow: hidden;
}

.story{
	position: relative;
	margin-top: 40px;
	margin-bottom: 20px;
	width: 48%;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.section1{
	float:left; 
	width:25%; 
	padding:5% 5% 5% 12.5%; 
	color: #ffffff;
	font-size: 0.8em;
	line-height: 170%;
}


.section2{
	float:left; 
	width:10%; 
	padding:1.2% 1% 1% 1%; 
	color: #ffffff;
	font-size: 0.8em;
	line-height: 170%;
}

.section3{
	float:left; 
	width:25%; 
	padding:1.2% 7.5% 1% 1%; 
	color: #ffffff;
	font-size: 0.8em;
	line-height: 170%;
}


input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:30px;
	margin-left:20px;
	margin-top:10px;
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
	color:#000;
	font-size:13px;
	height:17px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -17px;
}

label.css-label {
	background-image:url("checkbox.png");
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}